<!DOCTYPE html>
<html>
<head>
  <title>Bitcharity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <%= render 'layouts/user_header' %>
  <a class="navbar-brand" href="#">bitcharity</a>
</nav>

<center>
  <% flash.each do |name, msg| %>

    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, :id => "flash_#{name}" %>
      <% end %>
    <% else %>

      <%= content_tag :div, msg, :id => "flash_#{name}" %>

    <% end %>
  <% end %>
</center>

<hr />
<%= yield %>

</body>
</html>
